
* {
        margin: 0;
        padding: 0;
}

html {
	height:100%;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #fff url(../../images/bg.jpg);
	font-weight: 300;
	font-size: 14px; 
	font-size: 1.4rem;
	color: #aaa;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
}

#info {
	position: absolute;
	left:0;
	top:0;
}

a:active, a:link, a:visited {
	text-decoration: none;
	color:#333;
}

.wrapper {	
	
	width:200px;
	margin:30px auto;
	
	
}


ul.card-container {
	position:relative;
	width:200px;
	height:310px;
	margin:0 auto;
	list-style: none;
}


ul.card-container li {
	width: 100%;
	height: 100%;
	margin: 0;
	
	/* spep #02 */
	position: absolute;
	top: 0;
	left: 0;
	
	cursor: pointer;
	background: #fff;
	border-radius: 10px;
	padding: 5px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
	
	
	/* step #03 */
	-webkit-transition:transform 0.3s ease;
	-webkit-transform-origin: 75% 100%;
}


ul.card-container li h4 {
	color: #666;
	font-size: 14px;
	padding: 8px 10px 5px;
	margin: 20px 3px 5px;
	border-bottom: 1px solid #f0f0f0;
}


ul.card-container li p {
	font-size: 12px;
	font-weight: 700;
	padding: 0 10px;
	margin: 10px 3px 0;
}


ul.card-container li img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 10px 10px 0 0;
}




